html {
  scroll-behavior: smooth;
}

.jumbotron {
  background-image: url("../img/fundo.jpg");
  background-size: cover;
  color: white;
  z-index: -1;
}

.jumbotron .container * {
  z-index: 3;
  position: relative;
}

.nav-link {
  color: red;
}

.dark_mode_margem {
  margin-right: 5%;
}

.img_colaborador {
  width: 50%;
  height: auto;
}