[data-theme="dark"] {
  background-color:#21211f !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .card {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #1b1b19!important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .btn :hover {
  color: rgb(9, 255, 0);
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link {
  color: rgb(9, 255, 0) !important;
}

[data-theme="dark"] input {
  color: #fff !important;
  background-color: #343434 !important;
}

[data-theme="dark"] textarea {
  color:  #fff !important;
  background-color: #343434 !important;
}

/* [data-theme="dark"] .active {
  color: rgb(255, 0, 234) !important;
} */

[data-theme="dark"] input .bg-light {
  background-color: #eee;
}

[data-theme="dark"] #close {
  color: #343434 !important;
}

/* #Dark mode DashMaquinas */
[data-theme="dark"] #navbarToggleExternalContent{
  background-color: #1b1b19 !important;
}

/* [data-theme="dark"] .custom-control-label{
  color: #eee;
} */
