[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #111 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .btn {
  background-color: rgb(99, 98, 98) !important;
  color: rgb(255, 255, 255);
  border-color: #eee;
}

[data-theme="dark"] .btn :hover {
  
  color: rgb(9, 255, 0);
  border-color: #eee;
  
}

[data-theme="dark"] .navbar-light .navbar-nav .nav-link {

  color: rgb(9, 255, 0)!important;
  border-color: #eee;
  
}

[data-theme="dark"] .active {

  color: rgb(255, 0, 234)!important;
  border-color: #eee;
  
}

[data-theme="dark"] .card  {
  background-color: #111 !important;
  color: #c12f2f;
}

[data-theme="dark"] .modal-content{
  background-color: #111 !important;
  
}

[data-theme="dark"] #close{
  color: #fff !important;

}